body, html
{
	background-image: url('images/unnamed.png');
	background-size: 90%;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.wrapper
{
	width: 100%;
	height: 100%;

}
